* {
    font-weight: 300 !important;
}

b, strong {
    font-weight: 700 !important;
}

label {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

label.list-group-item {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}

label.list-group-item:hover {
    background-color: #d9edf7;
}

.panel-body {
    padding-left: 0;
    padding-right: 0
}

.info {
    padding: 15px
}

.btn:focus {
    outline: 0 !important
}

.form-horizontal .text-left {
    text-align: left
}

.form-horizontal h4 {
    margin: 25px 0 15px
}

.form-group {
    max-width: 100%;
    display: block
}

    .form-group--full {
        display: block;
        height: 39px;
        margin: 0 !important;
        text-align: center;
        line-height: 39px;
    }
        /*input:checked + .form-group--full:before {*/
            /*content: '✓';*/
        /*}*/

        .form-group--full > input {
            width: 100%;
            background: transparent;
            padding: 8px;
            border: 0;
            line-height: 1.4;
        }

        .form-group--full > input[type=checkbox] {
            width: auto;
        }

            .form-group--full > input:focus {
                outline: 0 !important;
                background: #fff;
            }

.col-padding-0 {
    padding: 0
}

.col-margin-0 {
    margin: 0
}

.cur-p {
    cursor: pointer
}

.text-transparent {
    color: transparent
}

.case-item {
    margin-bottom: -15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}

.panel-footer {
    border: 1px solid #ddd;
    border-top: 0
}


.table-theme-smit td {
    padding: 0 !important;
}

.table-theme-smit td input[type=date] {
    width: 125px;
}

@media screen and (max-width: 768px) {
    .form-horizontal .form-group {
        margin-left: 0;
    }
}

