
<div class="container-fluid">
    <ul class="row text-center">

        <li class="col-xs-12">
            <button class="btn btn-primary"
                    ng-click="openWindow('vdai')">Відділи ВДАІ</button>
        </li>

        <li class="col-xs-12">
            <button class="btn btn-primary"
                    ng-click="openWindow('customers')">Замовник</button>
        </li>

        <li class="col-xs-12">
            <button class="btn btn-primary"
                    ng-click="openWindow('affiliate')">Філія</button>
        </li>

        <li class="col-xs-12">
            <button class="btn btn-primary"
                    ng-click="openWindow('users')">Працівникик</button>
        </li>

    </ul>
</div>