
<section class="row" ng-controller="mainCtrl">

    <div class="col-sm-12">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#Stark</th>
                    <th>#Axa</th>
                    <th>Страхувальник</th>
                    <th>Сума виплати</th>
                    <th>Залишок боргу</th>
                    <th>Статус Ф-2</th>
                    <th>Статус постанови</th>
                    <th>Винуватий</th>
                    <th>Дата претензії винуватому</th>
                    <th>Назва СК</th>
                    <th>Дата заяви</th>
                    <th>Завдання</th>
                    <th>Примітки</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>

</section>