
<div class="container-fluid">
    <div class="row">

        <h3>Замовник</h3>

        <br/>

        <div class="col-xs-4">

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Назва скорочена</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="customers.name">
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Назва повна</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="customers.nameFull">
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Форма власності</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="customers.property">
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Код ЄДРПОУ</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="customers.cod">
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Телефон</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="customers.phone">
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">E-mail</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="email" class="form-control" ng-model="customers.email">
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Індекс</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="customers.index">
                </span>
            </label>


            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Вулиця</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="customers.street">
                </span>
            </label>


            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Місто</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="customers.city">
                </span>
            </label>

        </div>


        <div class="col-xs-8">

            <h4>Відповідальний працівник</h4>

            <div class="col-xs-6">

                <label class="form-group">
                    <span class="col-xs-4 control-label text-left">Прізвище</span>
                    <span class="col-xs-8 col-padding-0">
                        <input type="text" class="form-control" ng-model="customers.workerSurname">
                    </span>
                </label>

                <label class="form-group">
                    <span class="col-xs-4 control-label text-left">Ім'я</span>
                    <span class="col-xs-8 col-padding-0">
                        <input type="text" class="form-control" ng-model="customers.workerName">
                    </span>
                </label>

                <label class="form-group">
                    <span class="col-xs-4 control-label text-left">По батькові</span>
                    <span class="col-xs-8 col-padding-0">
                        <input type="text" class="form-control" ng-model="customers.worker2Name">
                    </span>
                </label>

                <label class="form-group">
                    <span class="col-xs-4 control-label text-left">Телефон моб.</span>
                    <span class="col-xs-8 col-padding-0">
                        <input type="text" class="form-control" ng-model="customers.workerMobile">
                    </span>
                </label>

                <label class="form-group">
                    <span class="col-xs-4 control-label text-left">Телефон роб.</span>
                    <span class="col-xs-8 col-padding-0">
                        <input type="text" class="form-control" ng-model="customers.workerPhone">
                    </span>
                </label>

                <label class="form-group">
                    <span class="col-xs-4 control-label text-left">Email.</span>
                    <span class="col-xs-8 col-padding-0">
                        <input type="email" class="form-control" ng-model="customers.workerEmail">
                    </span>
                </label>

                <label class="form-group">
                    <span class="col-xs-4 control-label text-left">Дата народ.</span>
                    <span class="col-xs-8 col-padding-0">
                        <input type="date" class="form-control" ng-model="customers.workerDate">
                    </span>
                </label>

            </div>

            <div class="col-xs-6">

                <label class="form-group">
                    <span class="col-xs-4 control-label text-left">Договір дата</span>
                    <span class="col-xs-8 col-padding-0">
                        <input type="date" class="form-control" ng-model="customers.agrementDate">
                    </span>
                </label>

                <label class="form-group">
                    <span class="col-xs-4 control-label text-left">Договір №</span>
                    <span class="col-xs-8 col-padding-0">
                        <input type="text" class="form-control" ng-model="customers.agrementNumber">
                    </span>
                </label>

                <label class="form-group">
                    <span class="col-xs-4 control-label text-left">Ставка</span>
                    <span class="col-xs-8 col-padding-0">
                        <input type="text" class="form-control" ng-model="customers.stavka">
                    </span>
                </label>

            </div>

        </div>

        <div class="col-xs-8 text-right">
            <button class="btn btn-warning" ng-click="reset()">Очистити</button>
            <button class="btn btn-success" ng-click="save()" ng-show="!isAdd">Зберегти</button>
            <button class="btn btn-success" ng-click="add()" ng-show="isAdd">Додати замовника</button>
        </div>

    </div>

    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Назва скорочена</th>
                    <th>Назва повна</th>
                    <th>Форма власності</th>
                    <th>Прізвище</th>
                    <th>Ім'я</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.customers"
                    ng-click="editData(item, $index)">
                    <td ng-bind="item.name"></td>
                    <td ng-bind="item.nameFull"></td>
                    <td ng-bind="item.property"></td>
                    <td ng-bind="item.workerSurname"></td>
                    <td class="p-rel">
                        <span ng-bind="item.workerName"></span>
                        <button ng-click="deleteData($index)" class="btn btn-danger btn-delete-row">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
