
<div class="container-fluid">
    <div class="row">

        <h3>ВДВС</h3>

        <br/>

        <div class="col-xs-6">

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Регіон</span>
                <span class="col-xs-8 col-padding-0">
                    <select class="form-control"
                            ng-options="item.id as item.name for item in regions"
                            ng-model="stateExecutiveService.region">
                    </select>
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Індекс</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="stateExecutiveService.index">
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Вулиця</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="stateExecutiveService.street">
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Місто</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="stateExecutiveService.city">
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Телефон</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="stateExecutiveService.phone">
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Мейл</span>
                <span class="col-xs-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="stateExecutiveService.email">
                </span>
            </label>

        </div>


        <div class="col-xs-6">

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Назва робоча</span>
                <span class="col-xs-8 col-padding-0">
                    <textarea class="form-control" rows="3" ng-model="stateExecutiveService.workName"></textarea>
                </span>
            </label>

            <label class="form-group">
                <span class="col-xs-4 control-label text-left">Назва повна</span>
                <span class="col-xs-8 col-padding-0">
                    <textarea class="form-control" rows="3" ng-model="stateExecutiveService.fullName"></textarea>
                </span>
            </label>

        </div>

        <div class="col-xs-6 text-right">
            <button class="btn btn-warning" ng-click="reset()">Очистити</button>
            <button class="btn btn-success" ng-click="save()" ng-show="!isAdd">Зберегти</button>
            <button class="btn btn-success" ng-click="add()" ng-show="isAdd">Додати відділ ДВС</button>
        </div>

    </div>

    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>

                    <th class="dropdown">
                        <button class="btn btn-default dropdown-toggle"
                                type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="true">
                            Регіон
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu"
                            aria-labelledby="dropdownMenu3">
                            <li>
                                <a href="#"
                                   ng-click="selectOption('all')">
                                    Скинути фільтр
                                </a>
                            </li>
                            <li ng-repeat="item in data.stateExecutiveService | unique : 'region'"
                                ng-click="selectOption(item, 'region')" >
                                <a href="" ng-bind="::regions[item].name"></a>
                            </li>
                        </ul>
                    </th>
                    <th>Назва робоча</th>
                    <th>Індекс</th>
                    <th>Місто</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.stateExecutiveService | exactlyFilter : selectKey : selectValue"
                    ng-click="editData(item, $index)">
                    <td ng-bind="regions[item.region].name"></td>
                    <td ng-bind="item.workName"></td>
                    <td ng-bind="item.index"></td>
                    <td class="p-rel">
                        <span ng-bind="item.city"></span>
                        <button ng-click="deleteData($index)" class="btn btn-danger btn-delete-row">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
