
<h3>
    Позов до СК
    <button class="btn btn-default pull-right">
        <i class="glyphicon glyphicon-file"></i>
        Лист СК
    </button>
    <button class="btn btn-default pull-right">
        <i class="glyphicon glyphicon-file"></i>
        Опис
    </button>
    <button class="btn btn-default pull-right">
        <i class="glyphicon glyphicon-file"></i>
        Повідомлення про вручення
    </button>
    <button class="btn btn-default pull-right">
        <i class="glyphicon glyphicon-file"></i>
        Заява
    </button>
</h3>

<div class="row">

    <div class="col-sm-5">

        <div class="col-sm-12">

            <h4 class="case-item-title">Суд</h4>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">Регіон суд</span>
                <span class="col-sm-8 col-padding-0">
                    <select class="form-control" ng-model="data.case.courtInCom.region">
                        <option value="КАСКО" selected="selected">КАСКО</option>
                        <option value="ОСЦПВВНТЗ">ОСЦПВВНТЗ</option>
                        <option value="Майно">Майно</option>
                    </select>
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">Назва суд</span>
                <span class="col-sm-8 col-padding-0">
                    <select class="form-control" ng-model="data.case.courtInCom.nameCourt">
                        <option value="КАСКО" selected="selected">КАСКО</option>
                        <option value="ОСЦПВВНТЗ">ОСЦПВВНТЗ</option>
                        <option value="Майно">Майно</option>
                    </select>
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">Справа №</span>
                <span class="col-sm-8 col-padding-0">
                    <input type="number" class="form-control" ng-model="data.case.courtInCom.caseCourt">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">Суддя</span>
                <span class="col-sm-8 col-padding-0">
                    <input type="text" class="form-control" ng-model="data.case.courtInCom.judge">
                </span>
            </label>

        </div>

        <div class="col-sm-12">

            <h4 class="case-item-title">Судовий збір</h4>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">Сумма</span>
                <span class="col-sm-8 col-padding-0">
                    <input type="number" class="form-control" ng-model="data.case.courtInCom.fee">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">Статус (наявність)</span>
                <span class="col-sm-8 col-padding-0">
                    <select class="form-control" ng-model="data.case.courtInCom.orderStatus">
                        <option value="КАСКО" selected="selected">КАСКО</option>
                        <option value="ОСЦПВВНТЗ">ОСЦПВВНТЗ</option>
                        <option value="Майно">Майно</option>
                    </select>
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">№</span>
                <span class="col-sm-8 col-padding-0">
                    <input type="number" class="form-control" ng-model="data.case.courtInCom.orderNum">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">Дата</span>
                <span class="col-sm-8 col-padding-0">
                    <input type="date" class="form-control" ng-model="data.case.courtInCom.orderDate">
                </span>
            </label>

        </div>

    </div>


    <div class="col-sm-7">

        <div class="col-sm-6">

            <h4 class="case-item-title">Позов</h4>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Сумма позову</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="number" class="form-control" ng-model="data.case.courtInCom.amount">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Збитки (СВ)</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="text" class="form-control" ng-model="data.case.courtInCom.lossClaim">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Пеня</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="number" class="form-control" ng-model="data.case.courtInCom.penaltyClaim">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">3%</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="number" class="form-control" ng-model="data.case.courtInCom.percentClaim">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Інд. інфл.</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="text" class="form-control" ng-model="data.case.courtInCom.inflationClaim">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">№ Позову</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="number" class="form-control" ng-model="data.case.courtInCom.claimNum">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Дата</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="date" class="form-control" ng-model="data.case.courtInCom.claimDate">
                </span>
            </label>

        </div>

        <div class="col-sm-6">

            <h4 class="case-item-title">Рішення</h4>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Стягнуто</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="text" class="form-control" ng-model="data.case.courtInCom.satisfiedAmount">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Збитки (СВ)</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="text" class="form-control" ng-model="data.case.courtInCom.satisfiedLoss">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Пеня</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="number" class="form-control" ng-model="data.case.courtInCom.satisfiedPenalty">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">3%</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="number" class="form-control" ng-model="data.case.courtInCom.satisfiedPercent">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Інд. інфл.</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="text" class="form-control" ng-model="data.case.courtInCom.satisfiedInflation">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Судовий збір</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="number" class="form-control" ng-model="data.case.courtInCom.satisfiedFee">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Суть</span>
                <span class="col-sm-7 col-padding-0">
                    <select class="form-control" ng-model="data.case.courtInCom.gistJudgment">
                        <option value="КАСКО" selected="selected">КАСКО</option>
                        <option value="ОСЦПВВНТЗ">ОСЦПВВНТЗ</option>
                        <option value="Майно">Майно</option>
                    </select>
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-5 control-label text-left">Дата</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="date" class="form-control" ng-model="data.case.courtInCom.judgmentDate">
                </span>
            </label>

        </div>

    </div>

</div>


<br/>
<br/>
<br/>


<div class="row">

    <h4 class="col-sm-12 case-item-title">
        Додатки до Позовної Заяви
    </h4>

    <header class="col-sm-12">
        <p class="col-sm-2 text-center"></p>
        <p class="col-sm-8 text-center">Назва документу</p>
        <p class="col-sm-2 text-center">Кількість сторінок</p>
    </header>

    <div class="col-sm-12">
        <label class="col-sm-2 form-group">
            <input type="text" class="form-control">
        </label>
        <label class="col-sm-8 form-group">
            <input type="text" class="form-control">
        </label>
        <label class="col-sm-2 form-group">
            <input type="number" class="form-control">
        </label>
    </div>

</div>

<br/>
<br/>
<br/>


<div class="row">

    <div class="col-sm-6">

        <h4 class="col-sm-12 case-item-title">
            Апеляція
        </h4>

        <label class="form-group">
            <span class="col-sm-5 control-label text-left">Ким подано</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="text" class="form-control" ng-model="data.case.courtInCom.appealLodgedByWhom">
                </span>
        </label>

        <label class="form-group">
            <span class="col-sm-5 control-label text-left">Дата подання</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="date" class="form-control" ng-model="data.case.courtInCom.appealDate">
                </span>
        </label>

        <label class="form-group">
            <span class="col-sm-5 control-label text-left">Дата постанови</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="date" class="form-control" ng-model="data.case.courtInCom.appealResolutionDate">
                </span>
        </label>

        <label class="form-group">
            <span class="col-sm-5 control-label text-left">Суть постанови</span>
                <span class="col-sm-7 col-padding-0">
                    <input type="text" class="form-control" ng-model="data.case.courtInCom.appealEssence">
                </span>
        </label>

    </div>

</div>

<br/>
<br/>
<br/>


<div class="row">

    <h4 class="col-sm-12 case-item-title">
        Судові засідання
        <button class="btn btn-default pull-right" type="button">
            <i class="glyphicon glyphicon-file"></i>
            Додати судове засідання
        </button>
    </h4>

</div>