
<h3>
    Учасник ДТП
</h3>

<div class="row">

    <div class="col-sm-4">

        <div class="col-sm-12">

            <h4 class="case-item-title">Автомобіль</h4>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">Марка</span>
                <span class="col-sm-8 col-padding-0">
                    <input type="text" class="form-control">
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">Д.р.н.</span>
                <span class="col-sm-8 col-padding-0">
                    <input type="text" class="form-control">
                </span>
            </label>

        </div>

        <div class="col-sm-12">

            <h4 class="case-item-title">Інфо</h4>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">Статус учасника</span>
                <span class="col-sm-8 col-padding-0">
                    <select class="form-control">
                        <option value="КАСКО" selected="selected">КАСКО</option>
                        <option value="ОСЦПВВНТЗ">ОСЦПВВНТЗ</option>
                        <option value="Майно">Майно</option>
                    </select>
                </span>
            </label>

            <label class="form-group">
                <span class="col-sm-4 control-label text-left">Д.р.н.</span>
                <span class="col-sm-8 col-padding-0">
                    <input type="text" class="form-control">
                </span>
            </label>

        </div>

    </div>


    <div class="col-sm-8">

        <div class="row">
            <h4 class="col-sm-12 case-item-title">
                Постанова
                <button class="btn btn-default pull-right">
                    <i class="glyphicon glyphicon-file"></i>
                    Запит постанови
                </button>
            </h4>

            <div class="col-sm-6">

                <label class="form-group">
                    <span class="col-sm-4 control-label text-left">Статус (наявність)</span>
                    <span class="col-sm-8 col-padding-0">
                        <select class="form-control">
                            <option value="КАСКО" selected="selected">КАСКО</option>
                            <option value="ОСЦПВВНТЗ">ОСЦПВВНТЗ</option>
                            <option value="Майно">Майно</option>
                        </select>
                    </span>
                </label>

                <label class="form-group">
                    <span class="col-sm-4 control-label text-left">Дата запиту</span>
                    <span class="col-sm-8 col-padding-0">
                        <input type="date" class="form-control">
                    </span>
                </label>

                <label class="form-group">
                    <span class="col-sm-4 control-label text-left">Дата постанови</span>
                    <span class="col-sm-8 col-padding-0">
                        <input type="date" class="form-control">
                    </span>
                </label>

            </div>

            <div class="col-sm-6">

                <label class="form-group">
                    <span class="col-sm-4 control-label text-left">Регіон суд</span>
                    <span class="col-sm-8 col-padding-0">
                        <select class="form-control">
                            <option value="КАСКО" selected="selected">КАСКО</option>
                            <option value="ОСЦПВВНТЗ">ОСЦПВВНТЗ</option>
                            <option value="Майно">Майно</option>
                        </select>
                    </span>
                </label>

                <label class="form-group">
                    <span class="col-sm-4 control-label text-left">Назва суд</span>
                    <span class="col-sm-8 col-padding-0">
                        <select class="form-control">
                            <option value="КАСКО" selected="selected">КАСКО</option>
                            <option value="ОСЦПВВНТЗ">ОСЦПВВНТЗ</option>
                            <option value="Майно">Майно</option>
                        </select>
                    </span>
                </label>

            </div>
        </div>

    </div>

</div>


<br/>
<br/>
<br/>


<div class="row">

    <h4 class="col-sm-12 case-item-title">
        Водій
        <button class="btn btn-default pull-right" type="button">
            <i class="glyphicon glyphicon-file"></i>
            ДВС
        </button>
        <button class="btn btn-default pull-right" type="button">
            <i class="glyphicon glyphicon-file"></i>
            Позов
        </button>
    </h4>

    <div class="col-sm-4">

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Прізвище</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Ім'я</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">По батькові</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <br/>
        <br/>


        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Регіон</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control">
                    <option value="КАСКО" selected="selected">КАСКО</option>
                    <option value="ОСЦПВВНТЗ">ОСЦПВВНТЗ</option>
                    <option value="Майно">Майно</option>
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Індекс</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Вулиця</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Село/місто</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Район</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>


    </div>

    <div class="col-sm-4">

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">ІПН</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата нар.</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Email</span>
            <span class="col-sm-8 col-padding-0">
                <input type="email" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Тел. моб</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Місце роботи</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Посада</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Тел. роб.</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

    </div>


    <div class="col-sm-4">

        <h4 class="case-item-title">
            Претензія на всю суму
            <button class="btn btn-default pull-right" type="button">
                <i class="glyphicon glyphicon-file"></i>
                Претензія
            </button>
        </h4>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">№</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата вручення</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>


        <h4 class="case-item-title">
            Претензія на франшизу
            <button class="btn btn-default pull-right" type="button">
                <i class="glyphicon glyphicon-file"></i>
                Претензія
            </button>
        </h4>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">№</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата вручення</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>


        <h4 class="case-item-title">
            Претензія на різницю
            <button class="btn btn-default pull-right" type="button">
                <i class="glyphicon glyphicon-file"></i>
                Претензія
            </button>
        </h4>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">№</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата вручення</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>


    </div>


</div>


<br/>
<br/>
<br/>


<div class="row">

    <h4 class="col-sm-12 case-item-title">
        Страхова компанія
        <button class="btn btn-default pull-right" type="button">
            <i class="glyphicon glyphicon-file"></i>
            Заява
        </button>
        <button class="btn btn-default pull-right" type="button">
            <i class="glyphicon glyphicon-file"></i>
            Позов
        </button>
        <button class="btn btn-default pull-right" type="button">
            <i class="glyphicon glyphicon-file"></i>
            ДВС
        </button>
    </h4>

    <div class="col-sm-4">

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Назва</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control">
                    <option value="КАСКО" selected="selected">КАСКО</option>
                    <option value="ОСЦПВВНТЗ">ОСЦПВВНТЗ</option>
                    <option value="Майно">Майно</option>
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Поліс</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Ліміт</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

    </div>

    <div class="col-sm-4">

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Франшиза</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">№ справи</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Виконавець</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

    </div>

    <div class="col-sm-4">

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">№</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата вруч.</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Конт. дата</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

    </div>


</div>

<br/>
<br/>
<br/>


<div class="row">

    <h4 class="col-sm-12 case-item-title">
        Власник
        <button class="btn btn-default pull-right" type="button">
            <i class="glyphicon glyphicon-file"></i>
            ДВС
        </button>
        <button class="btn btn-default pull-right" type="button">
            <i class="glyphicon glyphicon-file"></i>
            Позов
        </button>
    </h4>

    <div class="col-sm-4">

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Прізвище</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Ім'я</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">По батькові</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <br/>
        <br/>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Регіон</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control">
                    <option value="КАСКО" selected="selected">КАСКО</option>
                    <option value="ОСЦПВВНТЗ">ОСЦПВВНТЗ</option>
                    <option value="Майно">Майно</option>
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Індекс</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Вулиця</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Село/місто</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Район</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>


    </div>

    <div class="col-sm-4">

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">ІПН</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата нар.</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Email</span>
            <span class="col-sm-8 col-padding-0">
                <input type="email" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Тел. моб</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Місце роботи</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Посада</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Тел. роб.</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

    </div>


    <div class="col-sm-4">

        <h4 class="case-item-title">
            Претензія на всю суму
            <button class="btn btn-default pull-right" type="button">
                <i class="glyphicon glyphicon-file"></i>
                Претензія
            </button>
        </h4>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">№</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата вручення</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>


        <h4 class="case-item-title">
            Претензія на франшизу
            <button class="btn btn-default pull-right" type="button">
                <i class="glyphicon glyphicon-file"></i>
                Претензія
            </button>
        </h4>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">№</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата вручення</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>


        <h4 class="case-item-title">
            Претензія на різницю
            <button class="btn btn-default pull-right" type="button">
                <i class="glyphicon glyphicon-file"></i>
                Претензія
            </button>
        </h4>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">№</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата вручення</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>


    </div>


</div>
