
<h3 class="case-item-title">
    Оплати по справі
</h3>

<div class="container-fluid">
    <div class="row">
        <button class="btn btn-primary pull-right">Додати платіж</button>
    </div>
</div>

<br/>

<table class="table table-bordered table-hover table-theme-smit">
    <thead>
        <tr>
            <th>Дата платежу</th>
            <th>Сума платежу</th>
            <th>Платник</th>
            <th>Призначення платежу</th>
            <th>Звітний місяць</th>
            <th>Звітний рік</th>
            <th>Дата внесення</th>
            <th>Автор внесення</th>
            <th>Підтв. замовнику</th>
            <th>Включено в акт</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label class="form-group form-group--full">
                    <input type="date" class="form-control" ng-model="data.case.addPayment.date"/>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <input type="number" class="form-control" ng-model="data.case.addPayment.sum"/>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <select class="form-control" ng-model="data.case.addPayment.payer">
                        <option value="-1">Замовити</option>
                        <option value="0">Замовлено</option>
                        <option value="1">Отримано</option>
                    </select>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <select class="form-control" ng-model="data.case.addPayment.purposeOfPayment">
                        <option value="-1">Замовити</option>
                        <option value="0">Замовлено</option>
                        <option value="1">Отримано</option>
                    </select>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <select class="form-control" ng-model="data.case.addPayment.reportingMonth">
                        <option value="-1">Замовити</option>
                        <option value="0">Замовлено</option>
                        <option value="1">Отримано</option>
                    </select>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <select class="form-control" ng-model="data.case.addPayment.reportingYear">
                        <option value="-1">Замовити</option>
                        <option value="0">Замовлено</option>
                        <option value="1">Отримано</option>
                    </select>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <input type="checkbox" class="form-control" ng-model="data.case.addPayment.dateAddPayment"/>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <input type="checkbox" class="form-control" ng-model="data.case.addPayment.authorAddPayment"/>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <input type="text" class="form-control" ng-model="data.case.addPayment.confirmation"/>
                </label>
            </td>
            <td class="p-rel">
                <label class="form-group form-group--full">
                    <input type="date" class="form-control" ng-model="data.case.addPayment.includedAct"/>
                </label>
                <button class="btn btn-danger btn-delete-row">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>