
<ul class="nav nav-tabs">
    <li ng-repeat="item in caseMenu"
        ng-class="isPage == $index ? 'active' : '' "
        ng-click="setPage($index)">
        <a href="">{{ ::item }}</a>
    </li>
</ul>

<div class="info form-horizontal clearfix case-item" ng-show="isPage == 0" insurer></div>
<div class="info form-horizontal clearfix case-item" ng-show="isPage == 1" form-two></div>
<div class="info form-horizontal clearfix case-item" ng-show="isPage == 2" insurer-case></div>
<div class="info form-horizontal clearfix case-item" ng-show="isPage == 3" guilty></div>
<div class="info form-horizontal clearfix case-item" ng-show="isPage == 4" claim></div>