
<ul class="nav nav-tabs">
    <li class="active">
        <a href="">Страхувальник</a>
    </li>
    <li>
        <a href="">ДТП, Ф-2, Потанова</a>
    </li>
    <li>
        <a href="">Страхова справа</a>
    </li>
    <li>
        <a href="">Винуватець</a>
    </li>
    <li>
        <a href="">Заява/Претензія</a>
    </li>
    <li>
        <a href="">Розрахунки</a>
    </li>
    <li>
        <a href="">Суд винувитий</a>
    </li>
    <li>
        <a href="">Суд СК</a>
    </li>
    <li>
        <a href="">ВДВС</a>
    </li>
</ul>

<div case-insurer class="info form-horizontal clearfix case-item"></div>