
<div class="row case-section">

    <div class="case-section-item">
        <div class="panel panel-success">
            <div class="panel-heading"
                 ng-click="openCaseItem('insurer')">
                Страхувальник
                <i class="glyphicon glyphicon-pencil pull-right"></i>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Авто:</td>
                        <td ng-bind="data.case.insurer.object"></td>
                    </tr>
                    <tr>
                        <td>Д.р.н.:</td>
                        <td ng-bind="data.case.insurer.number"></td>
                    </tr>
                    <tr>
                        <td>Прізвище:</td>
                        <td ng-bind="data.case.insurer.surname"></td>
                    </tr>
                    <tr>
                        <td>Ім'я:</td>
                        <td ng-bind="data.case.insurer.name"></td>
                    </tr>
                    <tr>
                        <td>По-батькові:</td>
                        <td ng-bind="data.case.insurer.name2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="case-section-item">
        <div class="panel panel-success">
            <div class="panel-heading"
                 ng-click="openCaseItem('guilty')">
                Винуватець (учасник ДТП)
                <i class="glyphicon glyphicon-pencil pull-right"></i>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Авто:</td>
                        <td ng-bind="data.case.participantCrash.carModel"></td>
                    </tr>
                    <tr>
                        <td>Д.р.н.:</td>
                        <td ng-bind="data.case.participantCrash.carNumber"></td>
                    </tr>
                    <tr>
                        <td>Прізвище:</td>
                        <td ng-bind="data.case.participantCrash.driverSurname"></td>
                    </tr>
                    <tr>
                        <td>Ім'я:</td>
                        <td ng-bind="data.case.participantCrash.driverName"></td>
                    </tr>
                    <tr>
                        <td>По-батькові:</td>
                        <td ng-bind="data.case.participantCrash.driverName2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="case-section-item">
        <div class="panel panel-success">
            <div class="panel-heading"
                 ng-click="openCaseItem('claim')">
                Претензія
                <i class="glyphicon glyphicon-pencil pull-right"></i>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>№:</td>
                        <td ng-bind="data.case.participantCrash.claimNumber"></td>
                    </tr>
                    <tr>
                        <td>Дата:</td>
                        <td ng-bind="data.case.participantCrash.claimData"></td>
                    </tr>
                    <tr>
                        <td>Дата вручення:</td>
                        <td ng-bind="data.case.participantCrash.claimDateDelivery"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="case-section-item">
        <div class="panel panel-success">
            <div class="panel-heading"
                 ng-click="openCaseItem('action')">
                Позов
                <i class="glyphicon glyphicon-pencil pull-right"></i>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Суд:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Дата позову:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>№ справи:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Дата рішення:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Суть рішення:</td>
                        <td ng-bind=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="case-section-item">
        <div class="panel panel-success">
            <div class="panel-heading"
                 ng-click="openCaseItem('dvs')">
                ДВС
                <i class="glyphicon glyphicon-pencil pull-right"></i>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Суд:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Дата звернення:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>No ВП:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Статус:</td>
                        <td ng-bind=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="case-section-item">
        <div class="panel panel-success">
            <div class="panel-heading"
                 ng-click="openCaseItem('insuranceEvent')">
                Страхова подія
                <i class="glyphicon glyphicon-pencil pull-right"></i>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Європротокол:</td>
                        <td ng-bind="data.base.euroProtocol"></td>
                    </tr>
                    <tr>
                        <td>Дата ДТП:</td>
                        <td ng-bind="dateCrash"></td>
                    </tr>
                    <tr>
                        <td>Місце ДТП:</td>
                        <td ng-bind=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="case-section-item">
        <div class="panel panel-success">
            <div class="panel-heading"
                 ng-click="openCaseItem('insuranceCompany')">
                Страхова компанія
                <i class="glyphicon glyphicon-pencil pull-right"></i>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Назва:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Поліс:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Ліміт:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Франшиза:</td>
                        <td ng-bind=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="case-section-item">
        <div class="panel panel-success">
            <div class="panel-heading"
                 ng-click="openCaseItem('claimCk')">
                Заява в СК
                <i class="glyphicon glyphicon-pencil pull-right"></i>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>№:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Дата:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Контрольний строк:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>№ справи:</td>
                        <td ng-bind=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="case-section-item">
        <div class="panel panel-success">
            <div class="panel-heading"
                 ng-click="openCaseItem('actionCk')">
                Позов в СК
                <i class="glyphicon glyphicon-pencil pull-right"></i>
            </div>

            <table class="table">
                <tbody>
                <tr>
                    <td>Суд:</td>
                    <td ng-bind=""></td>
                </tr>
                <tr>
                    <td>Дата позову:</td>
                    <td ng-bind=""></td>
                </tr>
                <tr>
                    <td>No справи:</td>
                    <td ng-bind=""></td>
                </tr>
                <tr>
                    <td>Суд:</td>
                    <td ng-bind=""></td>
                </tr>
                <tr>
                    <td>Дата рішення:</td>
                    <td ng-bind=""></td>
                </tr>
                <tr>
                    <td>Суть рішення:</td>
                    <td ng-bind=""></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="case-section-item">
        <div class="panel panel-success">
            <div class="panel-heading"
                 ng-click="openCaseItem('dvsCk')">
                ДВС (СК)
                <i class="glyphicon glyphicon-pencil pull-right"></i>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>ВДВС:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Дата звернення:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>№ ВП:</td>
                        <td ng-bind=""></td>
                    </tr>
                    <tr>
                        <td>Статус:</td>
                        <td ng-bind=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-success fz14">
            <div class="panel-heading text-center"
                 ng-click="openCaseItem('paymentForCase')">
                Розрахунки по справі
                <i class="glyphicon glyphicon-pencil pull-right"></i>
            </div>
        </div>
        <div class="row">
            <div class="case-section-item">
                <div class="panel panel-success">
                    <div class="panel-heading"
                         ng-click="openCaseItem('payment')">
                        Страхова виплата
                        <i class="glyphicon glyphicon-pencil pull-right"></i>
                    </div>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Статус платіжки:</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr>
                                <td>Сума виплати:</td>
                                <td ng-bind=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="case-section-item">
                <div class="panel panel-success">
                    <div class="panel-heading"
                         ng-click="openCaseItem('instanceCk')">
                        Вимога до СК
                        <i class="glyphicon glyphicon-pencil pull-right"></i>
                    </div>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Сума вимоги:</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr>
                                <td>Визначена сума:</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr>
                                <td>Оплачено:</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr>
                                <td>Борг:</td>
                                <td ng-bind=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="case-section-item">
                <div class="panel panel-success">
                    <div class="panel-heading"
                         ng-click="openCaseItem('instanceQuilty')">
                        Вимога до Винуватця
                        <i class="glyphicon glyphicon-pencil pull-right"></i>
                    </div>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Сума вимоги:</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr>
                                <td>Визначена сума:</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr>
                                <td>Оплачено:</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr>
                                <td>Борг:</td>
                                <td ng-bind=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="case-section-item">
                <div class="panel panel-success">
                    <div class="panel-heading"
                         ng-click="openCaseItem('instanceOwner')">
                        Вимога до Власника
                        <i class="glyphicon glyphicon-pencil pull-right"></i>
                    </div>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Сума вимоги:</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr>
                                <td>Визначена сума:</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr>
                                <td>Оплачено:</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr>
                                <td>Борг:</td>
                                <td ng-bind=""></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>