

    <h3>
        Інфо ДТП, форма-2, постанова
        <button class="btn btn-default" type="button">Повідомлення</button>
    </h3>

    <div>
        <label class="checkbox-inline">
            <input type="checkbox" value="">
            Європротокол
        </label>
    </div>


    <div class="col-sm-5">

        <h4>ДТП</h4>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата-час</span>
            <span class="col-sm-8 col-padding-0">
                <input type="datetime-local" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Місце</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <br/>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">ВДАІ (регіон)</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control">
                    <option value="1">Отримано</option>
                    <option value="2">Отримано</option>
                    <option value="3">Отримано</option>
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">ВДАІ (коротко)</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control">
                    <option value="1">Отримано</option>
                    <option value="2">Отримано</option>
                    <option value="3">Отримано</option>
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">ВДАІ</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control">
                    <option value="1">Отримано</option>
                    <option value="2">Отримано</option>
                    <option value="3">Отримано</option>
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">ВДАІ (місто)</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">ВДАІ (вулиця)</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <br/>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Райсуд (регіон)</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control">
                    <option value="1">Отримано</option>
                    <option value="2">Отримано</option>
                    <option value="3">Отримано</option>
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Райсуд</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control">
                    <option value="1">Отримано</option>
                    <option value="2">Отримано</option>
                    <option value="3">Отримано</option>
                </select>
            </span>
        </label>


    </div>

    <div class="col-sm-4 col-sm-offset-1">

        <h4>Ф-2</h4>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Нвявність</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control">
                    <option value="1">Отримано</option>
                    <option value="2">Отримано</option>
                    <option value="3">Отримано</option>
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата запиту</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Номер</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Вид</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control">
                    <option value="1">відомості</option>
                    <option value="2">Отримано</option>
                    <option value="3">Отримано</option>
                </select>
            </span>
        </label>

        <br/>

        <h4>Постанова</h4>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Нвявність</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control">
                    <option value="1">Отримано</option>
                    <option value="2">Отримано</option>
                    <option value="3">Отримано</option>
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата запиту</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Дата постанови</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>


    </div>

