

    <h3>
        Інфо ДТП, форма-2, постанова
        <button class="btn btn-default" type="button">
            <i class="glyphicon glyphicon-file"></i>
            Повідомлення
        </button>
    </h3>

    <div>
        <label class="checkbox-inline">
            <input type="checkbox" value="">
            Європротокол
        </label>
    </div>


    <div class="col-sm-5">

        <h4>ДТП</h4>

        <label class="form-group">
            <span class="col-sm-3 control-label text-left">Дата-час</span>
            <span class="col-sm-8 col-padding-0">
                <input type="datetime-local" class="form-control" ng-model="base.dateCrash">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-3 control-label text-left">Місце</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control" ng-model="base.placeCrash">
            </span>
        </label>

        <br/>

        <label class="form-group">
            <span class="col-sm-3 control-label text-left">ВДАІ (регіон)</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control" ng-model="base.f2Region" ng-options="id, name regions">
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-3 control-label text-left">ВДАІ (коротко)</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control" ng-model="vdai.workName">
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-3 control-label text-left">ВДАІ</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control" ng-model="base.daiName" ng-options="vdai.fullName">
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-3 control-label text-left">ВДАІ (місто)</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" readonly="readonly" class="form-control" ng-model="vdai.city">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-3 control-label text-left">ВДАІ (вулиця)</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" readonly="readonly" class="form-control" ng-model="vdai.street">
            </span>
        </label>

        <br/>

        <label class="form-group">
            <span class="col-sm-3 control-label text-left">Райсуд (регіон)</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control" ng-options="regions">
                </select>
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-3 control-label text-left">Райсуд</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control" ng-options="judge.court">
                </select>
            </span>
        </label>


    </div>

    <div class="col-sm-4 col-sm-offset-1">

        <h4>Ф-2</h4>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Нвявність</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control" ng-model="base.f2Status">
                    <option value="-1">Замовити</option>
                    <option value="0">Замовлено</option>
                    <option value="1">Отримано</option>
                </select>
            </span>
        </label>

        <label class="form-group" ng-if=" (base.f2Status == 0) || (base.f2Status == 1) ">
            <span class="col-sm-4 control-label text-left">Дата запиту</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control" ng-model="base.f2DateRequest">
            </span>
        </label>

        <label class="form-group" ng-if="base.f2Status == 1">
            <span class="col-sm-4 control-label text-left">Номер</span>
            <span class="col-sm-8 col-padding-0">
                <input type="text" class="form-control" ng-model="base.f2Number">
            </span>
        </label>

        <label class="form-group" ng-if="base.f2Status == 1">
            <span class="col-sm-4 control-label text-left">Вид</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control" ng-model="base.f2Type">
                    <option value="Відомості">Відомості</option>
                    <option value="Довідка">Довідка</option>
                </select>
            </span>
        </label>

        <br/>

        <h4>Постанова</h4>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Нвявність</span>
            <span class="col-sm-8 col-padding-0">
                <select class="form-control" ng-model="resolution">
                    <option value="-1">Замовити</option>
                    <option value="0">Замовлено</option>
                    <option value="1">Отримано</option>
                </select>
            </span>
        </label>

        <label class="form-group" ng-show=" (resolution == 0) || (resolution == 1)">
            <span class="col-sm-4 control-label text-left">Дата запиту</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>

        <label class="form-group" ng-show="resolution == 1">
            <span class="col-sm-4 control-label text-left">Дата постанови</span>
            <span class="col-sm-8 col-padding-0">
                <input type="date" class="form-control">
            </span>
        </label>


    </div>

