
    <div class="row">

        <div class="col-sm-5">
            <label class="input-group">
                <span class="input-group-addon">Завдання</span>
                <input type="text" class="form-control" />
            </label>
        </div>
        <div class="col-sm-5">
            <label class="input-group">
                <span class="input-group-addon">Примітки </span>
                <input type="text" class="form-control" />
            </label>
        </div>

        <div class="col-sm-2 text-right">
            <div class="btn-group dropup">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Документи
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-file"></i>
                            Позов
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-file"></i>
                            Опис
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-file"></i>
                            Претензія винуватцю
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-file"></i>
                            Претензія власнику
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-file"></i>
                            Звіт в AxA
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="glyphicon glyphicon-file"></i>
                            Звіт в платежів
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>