

<div class="row panel-heading">
    <div class="row">

        <div class="col-sm-2">
            <img src="" alt=""/>
        </div>

        <div class="col-sm-2 col-xs-8">
            <h4>Вид страхування</h4>
            <h4>№ справи замовника</h4>
        </div>

        <div class="col-sm-4 col-xs-8">
            <label class="input-group">
                <span class="input-group-addon">
                    Статус робочий
                    <span class="text-transparent">и</span>
                </span>
                <select type="text" class="form-control" ng-mode="statusWork">
                    <option value="1">В роботі</option>
                </select>
            </label>
            <label class="input-group">
                <span class="input-group-addon">Статус фінальний</span>
                <select type="text" class="form-control" ng-model="statusFinal">
                    <option value="1">В роботі</option>
                </select>
            </label>
        </div>

        <div class="col-sm-3 col-xs-8">
            <h4 class="col-sm-12 col-xs-6">
                <img src="" alt=""/>
            </h4>
            <h4 class="col-sm-12 col-xs-6">
                Виконавець: Петя
            </h4>
        </div>

    </div>
</div>