<h3>
    Інфо страхова справа
</h3>

<div class="col-sm-3">

    <label class="form-group">
        <span class="col-sm-1 control-label text-left">#</span>
        <span class="col-sm-9 col-padding-0">
            <input type="text" class="form-control">
        </span>
    </label>

</div>

<div class="col-sm-4">

    <label class="form-group">
        <span class="col-sm-6 control-label text-left">Сума страхової виплати</span>
        <span class="col-sm-6 col-padding-0">
            <input type="text" class="form-control">
        </span>
    </label>

</div>

<div class="col-sm-12">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td colspan="5"></td>
                <td colspan="3">Платіжне доручення</td>
                <td collapse="2">Отримувач СВ</td>
                <td colspan="2">СТО</td>
            </tr>
            <tr>
                <th>#СА</th>
                <th>Дата</th>
                <th>Сума</th>
                <th>Утримання</th>
                <th>Виплати</th>
                <th>Наявність</th>
                <th>#</th>
                <th>Дата</th>
                <th>Отримувач</th>
                <th>Назва</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

