

    <h3>
        Інфо страхувальник
        <button class="btn btn-default" type="button">Запит документів</button>
        <button class="btn btn-default" type="button">Опис</button>
    </h3>

    <div class="col-sm-4">

        <h4>Страхувальник</h4>

        <div class="form-group">
            <label class="col-sm-3 control-label text-left" for="">Прізвище</label>
            <div class="col-sm-9 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label text-left" for="">Ім'я</label>
            <div class="col-sm-9 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label text-left" for="">По батькові</label>
            <div class="col-sm-9 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-9 col-sm-offset-3 col-padding-0 cur-p">
                <input type="checkbox">
                Водій і страхувальник одна особа
            </label>
        </div>


        <h4>Транспортний засіб</h4>

        <div class="form-group">
            <label class="col-sm-3 control-label text-left" for="">Марка авто</label>
            <div class="col-sm-9 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label text-left" for="">д.р.н.</label>
            <div class="col-sm-9 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>


        <h4>Договір страхування</h4>

        <div class="form-group">
            <label class="col-sm-3 control-label text-left" for="">Дата</label>
            <div class="col-sm-9 col-padding-0">
                <input type="date" class="form-control" id="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label text-left" for="">Номер</label>
            <div class="col-sm-9 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>


        <h4>Водій</h4>

        <div class="form-group">
            <label class="col-sm-3 control-label text-left" for="">Прізвище</label>
            <div class="col-sm-9 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label text-left" for="">Ім'я</label>
            <div class="col-sm-9 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label text-left" for="">По батькові</label>
            <div class="col-sm-9 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>

    </div>

    <div class="col-sm-4 col-sm-offset-1">

        <h4 class="text-transparent">#</h4>

        <div class="form-group">
            <label class="col-sm-4 control-label text-left" for="">Філія</label>
            <div class="col-sm-8 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label text-left" for="">Вид страхування</label>
            <div class="col-sm-8 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label text-left" for="">Дата заяви про СВ</label>
            <div class="col-sm-8 col-padding-0">
                <input type="date" class="form-control" id="">
            </div>
        </div>

        <h4>Вигодонабувач</h4>

        <div class="form-group">
            <label class="col-sm-4 control-label text-left" for="">Назва</label>
            <div class="col-sm-8 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label text-left" for=""># згоди</label>
            <div class="col-sm-8 col-padding-0">
                <input type="text" class="form-control" id="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label text-left" for="">Дата згоди</label>
            <div class="col-sm-8 col-padding-0">
                <input type="date" class="form-control" id="">
            </div>
        </div>

    </div>

