
<h3>
    Сума виплати
    <button class="btn btn-default" type="button">
        <i class="glyphicon glyphicon-file"></i>
        Заява
    </button>
</h3>

<div class="row">

    <div class="col-sm-4">

        <label class="form-group">
                <span class="col-sm-4 control-label text-left">
                    <strong>Сума виплати</strong>
                </span>
                <span class="col-sm-7 col-padding-0">
                    <input type="number" class="form-control">
                </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left"></span>
                <span class="col-sm-7 col-padding-0">
                    <input type="number" class="form-control">
                </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Франшиза</span>
            <span class="col-sm-7 col-padding-0">
                <input type="number" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Страх комп.</span>
            <span class="col-sm-7 col-padding-0">
                <input type="number" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Винуватий</span>
            <span class="col-sm-7 col-padding-0">
                <input type="number" class="form-control">
            </span>
        </label>

    </div>


    <div class="col-sm-4">

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">
                <strong>Отримано</strong>
            </span>
            <span class="col-sm-7 col-padding-0">
                <input type="number" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Франшиза</span>
            <span class="col-sm-7 col-padding-0">
                <input type="number" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Страх комп.</span>
            <span class="col-sm-7 col-padding-0">
                <input type="number" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Винуватий</span>
            <span class="col-sm-7 col-padding-0">
                <input type="number" class="form-control">
            </span>
        </label>

    </div>


    <div class="col-sm-4">

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">
                <strong>Борг</strong>
            </span>
            <span class="col-sm-7 col-padding-0">
                <input type="number" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Франшиза</span>
            <span class="col-sm-7 col-padding-0">
                <input type="number" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Страх комп.</span>
            <span class="col-sm-7 col-padding-0">
                <input type="number" class="form-control">
            </span>
        </label>

        <label class="form-group">
            <span class="col-sm-4 control-label text-left">Винуватий</span>
            <span class="col-sm-7 col-padding-0">
                <input type="number" class="form-control">
            </span>
        </label>

    </div>

</div>


<br/>
<br/>


<table class="table table-bordered table-hover table-theme-smit">
    <thead>
        <tr>
            <th>Сума</th>
            <th>Дата</th>
            <th>Платник</th>
            <th>Призначенн</th>
            <th>Дата внесення</th>
            <th>Відомість в АхА</th>
            <th>Включено в акт</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <label class="form-group form-group--full">
                    <input type="text" class="form-controll"/>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <input type="date" class="form-controll"/>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <input type="text" class="form-controll"/>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <input type="text" class="form-controll"/>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <input type="date" class="form-controll"/>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <input type="checkbox" class="form-controll"/>
                </label>
            </td>
            <td>
                <label class="form-group form-group--full">
                    <input type="checkbox" class="form-controll"/>
                </label>
            </td>
        </tr>
    </tbody>
</table>
