
<h3>
    Відділи державної виконавчої служби
</h3>


<div class="row">

    <div class="col-sm-12">

        <table class="table table-bordered table-hover table-theme-smit">
            <thead>
                <tr>
                    <th>Боржник</th>
                    <th>Регіон</th>
                    <th>ВДВС</th>
                    <th>Державний виконавець</th>
                    <th># заяви</th>
                    <th>Дата заяви</th>
                    <th>Дата вручення</th>
                    <th># ВП</th>
                    <th>Дата постанови</th>
                    <th>Код доступу ВП</th>
                    <th>Дата закриття</th>
                    <th>Підстава закриття</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="text" class="form-controll"/>
                        </label>
                    </td>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="text" class="form-controll"/>
                        </label>
                    </td>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="text" class="form-controll"/>
                        </label>
                    </td>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="text" class="form-controll"/>
                        </label>
                    </td>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="text" class="form-controll"/>
                        </label>
                    </td>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="date" class="form-controll"/>
                        </label>
                    </td>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="date" class="form-controll"/>
                        </label>
                    </td>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="text" class="form-controll"/>
                        </label>
                    </td>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="date" class="form-controll"/>
                        </label>
                    </td>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="text" class="form-controll"/>
                        </label>
                    </td>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="date" class="form-controll"/>
                        </label>
                    </td>
                    <td>
                        <label class="form-group form-group--full">
                            <input type="text" class="form-controll"/>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>