

<h3>
    Інфо заява/претензії
    <button class="btn btn-default" type="button">
        <i class="glyphicon glyphicon-file"></i>
        Заява
    </button>
</h3>


<div class="col-sm-4">

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">
            <strong>Заява СК</strong>
        </span>
        <span class="col-sm-8 col-padding-0">
            <input type="text" class="form-control">
        </span>
    </label>

    <label class="form-group">
        <span class="col-sm-4 control-label text-left"></span>
        <span class="col-sm-8 col-padding-0">
            <input type="text" class="form-control">
        </span>
    </label>

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">#</span>
        <span class="col-sm-8 col-padding-0">
            <input type="text" class="form-control">
        </span>
    </label>

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">Дата</span>
        <span class="col-sm-8 col-padding-0">
            <input type="date" class="form-control">
        </span>
    </label>

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">Дата вручення</span>
        <span class="col-sm-8 col-padding-0">
            <input type="date" class="form-control">
        </span>
    </label>

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">Кін. дата випл.</span>
        <span class="col-sm-8 col-padding-0">
            <input type="date" class="form-control">
        </span>
    </label>

</div>


<div class="col-sm-4">

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">
            <strong>Власник</strong>
        </span>
        <span class="col-sm-8 col-padding-0">
            <input type="text" class="form-control">
        </span>
    </label>

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">Претензія #</span>
        <span class="col-sm-8 col-padding-0">
            <input type="texe" class="form-control">
        </span>
    </label>


    <label class="form-group">
        <span class="col-sm-4 control-label text-left">Претензія дата</span>
        <span class="col-sm-8 col-padding-0">
            <input type="date" class="form-control">
        </span>
    </label>

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">Дата вручення</span>
        <span class="col-sm-8 col-padding-0">
            <input type="date" class="form-control">
        </span>
    </label>

</div>


<div class="col-sm-4">

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">
            <strong>Винуватець<strong>
        </span>
        <span class="col-sm-8 col-padding-0">
            <input type="text" class="form-control">
        </span>
    </label>

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">Претензія #</span>
        <span class="col-sm-8 col-padding-0">
            <input type="text" class="form-control">
        </span>
    </label>

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">Претензія дата</span>
        <span class="col-sm-8 col-padding-0">
            <input type="date" class="form-control">
        </span>
    </label>

    <label class="form-group">
        <span class="col-sm-4 control-label text-left">Дата вручення</span>
        <span class="col-sm-8 col-padding-0">
            <input type="date" class="form-control">
        </span>
    </label>

</div>



<div class="col-sm-12">

    <div class="col-sm-6">

        <ul class="list-group">
            <li class="list-group-item">
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    Водій-винуватець і власник автомобіля одна особа
                </label>
            </li>
            <li class="list-group-item">
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    Водій-винуватець і власник автомобіля одна особа
                </label>
            </li>
            <li class="list-group-item">
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    Водій-винуватець і власник автомобіля одна особа
                </label>
            </li>
        </ul>


    </div>

</div>
